.login {
  width: 100%;
  border-top: 1px solid #dadada;
}
.login .login_content {
  width: 950px;
  min-height: 705px;
  margin: 0 auto;
}
.login .login_content .title {
  margin-top: 45px;
  padding-bottom: 5px;
  margin-bottom: 20px;
  border-bottom: 1px solid #dadada;
}
.login .login_content .title span {
  font-size: 20px;
  color: #1b65ce;
  padding: 5px 10px;
  letter-spacing: 2px;
  border-bottom: 2px solid #1b65ce;
}
.login .login_content .left {
  width: 360px;
  padding: 70px 140px 150px 30px;
  float: left;
  border-right: 1px solid #dadada;
}
.login .login_content .left .head {
  padding: 15px 0 30px;
}
.login .login_content .left .head p {
  font-size: 20px;
  text-align: center;
  color: #333;
}
.login .login_content .left .row {
  margin-bottom: 30px;
  color: #333;
  position: relative;
}
.login .login_content .left .row span {
  font-size: 15px;
}
.login .login_content .left .row input {
  height: 40px;
  width: 270px;
  padding-left: 20px;
  margin-left: 10px;
  border: 1px solid #dddddd;
  box-sizing: border-box;
}
.login .login_content .left .row button {
  width: 100%;
  padding: 8px 0;
  background: #1b65ce;
  color: #ffffff;
  font-size: 18px;
  border: none;
}
.login .login_content .left .row .forget {
  position: absolute;
  width: 75px;
  top: 10px;
  right: -80px;
}
.login .login_content .left .row .forget span a {
  color: #1b65ce;
  font-size: 15px;
}
.login .login_content .left .register {
  text-align: center;
}
.login .login_content .left .register a {
  color: #1b65ce;
}
.login .login_content .right {
  float: left;
  width: 350px;
  padding-left: 60px;
  padding-top: 70px;
}
.login .login_content .right p {
  font-size: 16px;
  color: #1b65ce;
  margin-bottom: 35px;
  font-weight: 400;
}
.login .login_content .right .row {
  margin-bottom: 10px;
  font-size: 14px;
  color: #666;
  padding-left: 20px;
  background: url('../images/common/arrow.png') no-repeat 0;
}
.login .login_content .right .img {
  height: 135px;
  margin-top: 50px;
  color: #333;
}
.login .login_content .right .img img {
  width: 135px;
  vertical-align: middle;
}
.login .login_content .right .img span {
  font-size: 14px;
  color: #666;
}
