@import './common.less';
.banner {
  padding-top: 140px;
  width: 100%;
  height: 410px;
  background: url('../images/safe/safe_banner.jpg') no-repeat 50% 70%;
  background-size: 100% 100%;
}
.banner .content {
  width: 1200px;
  margin: 0 auto;
}
.banner .content .text {
  float: left;
  width: 350px;
  margin: 55px 0 0 10%;
  color: #fff;
}
.banner .content .text h3 {
  font-size: 28px;
  margin-bottom: 15px;
  letter-spacing: 4px;
  font-weight: 400;
}
.banner .content .text p {
  margin: 0;
  font-size: 18px;
  margin-bottom: 5px;
}
.banner .content .text p:last-child {
  font-size: 14px;
}
.banner .content .img {
  float: right;
  margin: 49px 10% 0 0;
}
.banner .content .img img {
  width: 100%;
  height: 100%;
}
.first_section {
  background: #fff;
  padding: 75px 0;
  text-align: center;
  color: #333;
}
.first_section h3 {
  margin-bottom: 25px;
  font-size: 24px;
  color: #1b65ce;
  font-weight: normal;
}
.first_section p {
  color: #7e7e7e;
  font-size: 16px;
}
.first_section p span {
  color: #1b65ce;
}
.first_section .first_section_img {
  padding-top: 40px;
}
.first_section .first_section_img img {
  width: 200px;
  height: 200px;
}
.second_section {
  background: rgba(0, 0, 0, 0.3);
  padding: 75px 0;
  text-align: center;
}
.second_section h3 {
  margin-bottom: 25px;
  font-size: 24px;
  color: #1b65ce;
  font-weight: normal;
}
.second_section .cooperation_lists {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
}
.second_section .cooperation_lists .bank {
  display: inline-block;
}
.second_section .cooperation_lists .bank img {
  width: 135px;
  height: 135px;
}
.second_section .cooperation_lists .bank p {
  margin-top: 10px;
}
.second_section .cooperation_lists .company {
  display: inline-block;
  margin: 0 60px 0 120px;
}
.second_section .cooperation_lists .company img {
  width: 135px;
  height: 135px;
}
.second_section .cooperation_lists .company p {
  margin-top: 10px;
}
.second_section .cooperation_lists .jijin {
  display: inline-block;
  margin: 0 120px  0 60px;
}
.second_section .cooperation_lists .jijin img {
  width: 135px;
  height: 135px;
}
.second_section .cooperation_lists .jijin p {
  margin-top: 10px;
}
.second_section .cooperation_lists .jijin_Sec {
  display: inline-block;
}
.second_section .cooperation_lists .jijin_Sec img {
  width: 135px;
  height: 135px;
}
.second_section .cooperation_lists .jijin_Sec p {
  margin-top: 10px;
}
.third_section {
  padding: 75px 0;
  background-color: #fff;
  text-align: center;
}
.third_section h3 {
  margin-bottom: 25px;
  font-size: 24px;
  color: #1b65ce;
  font-weight: normal;
}
.third_section .cooperation_lists2 {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
}
.third_section .cooperation_lists2 .money {
  display: inline-block;
}
.third_section .cooperation_lists2 .money img {
  width: 135px;
  height: 135px;
}
.third_section .cooperation_lists2 .money p {
  margin-top: 10px;
}
.third_section .cooperation_lists2 .financing {
  display: inline-block;
  margin: 0 60px 0 120px;
}
.third_section .cooperation_lists2 .financing img {
  width: 135px;
  height: 135px;
}
.third_section .cooperation_lists2 .financing p {
  margin-top: 10px;
}
.third_section .cooperation_lists2 .deposit {
  display: inline-block;
  margin: 0 120px  0 60px;
}
.third_section .cooperation_lists2 .deposit img {
  width: 135px;
  height: 135px;
}
.third_section .cooperation_lists2 .deposit p {
  margin-top: 10px;
}
.third_section .cooperation_lists2 .structured_fund {
  display: inline-block;
}
.third_section .cooperation_lists2 .structured_fund img {
  width: 135px;
  height: 135px;
}
.third_section .cooperation_lists2 .structured_fund p {
  margin-top: 10px;
}
